.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.download-button {
    padding: 20px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    /* Ubicación de la imagen */
    background-image: url(img/intro3.png);
    /* Para dejar la imagen de fondo centrada, vertical y
    
    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    
    de fondo o si hay problemas para cargarla */
    background-color: 66999;
}